

body{
  background-color:white;
  
  }
  h1{
     text-align: center;
  }
.light{
  background-color: black;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding-top: 20px;
  box-sizing: border-box;
  border-radius: 10px;

}
.light1{
  background-color: red;
  margin:0 auto;
  padding: 5px;
  width: 90px;
  margin-bottom: 10px;
  height: 90px;
  border-radius: 60px;
}
.light2{
  background-color: yellow;
  margin:0 auto;
  padding: 5px;
  width: 90px;
  margin-bottom: 10px;
  height: 90px;
  border-radius: 60px;
}
.light3{
  background-color: green;
  margin:0 auto;
  padding: 5px;
  width: 90px;
  height: 90px;
  border-radius: 60px;
}
.light4{
  background-color: black;
  width: 100px;
  height: 200px;
  margin: 0 auto;

}


main.css
Displaying main.css.



